In [39]:
###Reading different data sources with the help of pandas
from io import StringIO

In [40]:
import pandas as pd
df=pd.read_csv('House_Dataset.csv')
df.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,3.0,2850.0,sqft,4200.00,sqft,98119,1175000.0
1,4,5.0,3040.0,sqft,5002.00,sqft,98106,1057500.0
2,3,1.0,1290.0,sqft,6048.00,sqft,98125,799000.0
3,3,2.0,2360.0,sqft,0.28,acre,98188,565000.0
4,3,3.5,1942.0,sqft,1603.00,sqft,98107,1187000.0

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
print(df)

     beds  baths    size size_units  lot_size lot_size_units  zip_code  \
0       3    3.0  2850.0       sqft   4200.00           sqft     98119
1       4    5.0  3040.0       sqft   5002.00           sqft     98106
2       3    1.0  1290.0       sqft   6048.00           sqft     98125
3       3    2.0  2360.0       sqft      0.28           acre     98188
4       3    3.5  1942.0       sqft   1603.00           sqft     98107
..    ...    ...     ...        ...       ...            ...       ...
500     5    4.5  5580.0       sqft      0.30           acre     98146
501     3    2.5  1390.0       sqft   1570.00           sqft     98126
502     3    2.5  2950.0       sqft      0.47           acre     98118
503     5    5.0  3010.0       sqft   4887.00           sqft     98115
504     3    2.0  1301.0       sqft   3000.00           sqft     98103

         price
0    1175000.0
1    1057500.0
2     799000.0
3     565000.0
4    1187000.0
..         ...
500  3800000.0
501   575000.0
502  3105000.0
503  1807000.0
504   895000.0

[505 rows x 8 columns]

In [ ]:
df.head()

,beds,baths,size,size_units,lot_size,lot_size_units,zip_code,price
0,3,3.0,2850.0,sqft,4200.00,sqft,98119,1175000.0
1,4,5.0,3040.0,sqft,5002.00,sqft,98106,1057500.0
2,3,1.0,1290.0,sqft,6048.00,sqft,98125,799000.0
3,3,2.0,2360.0,sqft,0.28,acre,98188,565000.0
4,3,3.5,1942.0,sqft,1603.00,sqft,98107,1187000.0

In [ ]:
data=('col1,col2,col3\n'
      'x,y,1\n'
      'c,d,3')

In [ ]:
type(data)

str

In [ ]:
StringIO(data)

In [ ]:
pd.read_csv(StringIO(data))

  col1 col2  col3
0    x    y     1
1    c    d     3

In [ ]:
pd.read_csv(StringIO(data),usecols=['col1','col2'])

  col1 col2
0    x    y
1    c    d

In [ ]:
import pandas as pd
df=pd.read_csv('House_Dataset.csv',usecols=['beds','size','price'])
df.head()

   beds    size      price
0     3  2850.0  1175000.0
1     4  3040.0  1057500.0
2     3  1290.0   799000.0
3     3  2360.0   565000.0
4     3  1942.0  1187000.0

In [50]:
df.to_csv('test.csv',index=False)

In [53]:
#datatype in csv
data=('a,b,c,d\n'
    '1,2,3,4\n'
    '5,6,7,8\n'
    '9,10,11'
    )

In [61]:
df=pd.read_csv(StringIO(data))

In [66]:
df.head()

   a   b   c    d
0  1   2   3    4
1  5   6   7    8
2  9  10  11  NaN

In [67]:
df.isnull().sum()

a    0
b    0
c    0
d    1
dtype: int64

In [ ]:
df['a'][0]

'1'

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      int64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(1), int64(3)
memory usage: 224.0 bytes

In [63]:
df.describe()

         a     b     c         d
count  3.0   3.0   3.0  2.000000
mean   5.0   6.0   7.0  6.000000
std    4.0   4.0   4.0  2.828427
min    1.0   2.0   3.0  4.000000
25%    3.0   4.0   5.0  5.000000
50%    5.0   6.0   7.0  6.000000
75%    7.0   8.0   9.0  7.000000
max    9.0  10.0  11.0  8.000000

In [64]:
df=pd.read_csv(StringIO(data),dtype='object')

In [65]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      object
 1   b       3 non-null      object
 2   c       3 non-null      object
 3   d       2 non-null      object
dtypes: object(4)
memory usage: 224.0+ bytes

In [2]:
#datatype in csv
data=('a,b,c,d\n'
    '1,2,3,4\n'
    '5,6,7,8\n'
    '9,10,11'
)
print(data)

a,b,c,d
1,2,3,4
5,6,7,8
9,10,11

In [15]:
df=pd.read_csv(StringIO(data),dtype={'a':int,'b':float,'c':int})

In [16]:
print(df)

   a     b   c    d
0  1   2.0   3  4.0
1  5   6.0   7  8.0
2  9  10.0  11  NaN

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   a       3 non-null      int64
 1   b       3 non-null      float64
 2   c       3 non-null      int64
 3   d       2 non-null      float64
dtypes: float64(2), int64(2)
memory usage: 224.0 bytes

In [18]:
df.dtypes

a      int64
b    float64
c      int64
d    float64
dtype: object

In [21]:
data=('index,a,b,c\n'
      '4,apple,bat,5.7\n'
      '8,orange,cow,10')

In [25]:
pd.read_csv(StringIO(data),index_col=0)

            a    b     c
index
4       apple  bat   5.7
8      orange  cow  10.0

In [ ]:
#Use index cols and usecols
data=('a,b,c\n'
    '4,apple,bat\n'
    '8,orange,cow')

In [33]:
pd.read_csv(StringIO(data),usecols=['b','c'],index_col=0)

          c
b
apple   bat
orange  cow

In [ ]:
url= https://download.bls.gov/pub/time.series/cu/
df=pd.read_csv(url, sep='/t')
print(df.head)

SyntaxError: invalid syntax (2902727735.py, line 1)

In [52]:
import pandas as pd

url = 'https://download.bls.gov/pub/time.series/cu/cu.data.1.AllItems'

df = pd.read_csv(url, sep='\t')  # Use tab separator, since it's a tab-delimited file
print(df.head())

HTTPError: HTTP Error 403: Forbidden